.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    .display-text {
        width: 100%;
        text-align: center;
        margin: 10rem auto;
    }
    .button-container {
        display: inline-flex;
        .sample {
            border: 1px solid #888888;
            border-radius: 5px;
            background-color: transparent;
        }
    }
    .content {
        position: relative;
        display: flex;
        width: 100%;
        height: calc(100% - 3.5rem);
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}