.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .display-text {
        width: 100%;
        text-align: center;
        margin: 10rem auto;
    }
    .button-container {
        display: inline-flex;
        .sample {
            border: 1px solid #888888;
            border-radius: 5px;
            background-color: transparent;
        }
    }
}

