.sidebar {
    width: 20%;
    margin: 1rem;
    padding: 1rem;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    min-height: calc(50% - 3.5rem);
    max-height: calc(100% - 3.5rem);
    overflow: scroll;
    left: 0;
    z-index: 3;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);

    h3 {
        font-size: 1rem;
        margin: 0;
        margin-bottom: 0.5rem;
    }

    label {
        margin-bottom: 0.5rem;
        display: block;
    }

    .Select-control,
    .Select-menu {
        font-size: 0.8rem;
    }

    .ReactVirtualized__List {
        height: 400px !important;
    }
}